a{
    word-spacing: 20px;
    size: 7px;
    padding: 25px;
    text-align: left;
    color: rgb(254, 254, 254);
}
.center{
    padding:25px;;
    width:50%; 
    top:30px;  
}
header{
    text-align: right;
    padding: 40px;
}
body{
    background-image:url(op3.jfif);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:left;
    color:black;
}
h1{
    color: aliceblue;
    font-family:cursive;
    text-align: center;
    font-size: 40px;
}
p{
    color: aliceblue;
    font-size: 20px;
    position: relative;
    
    
}
td{
    width: 50%;
    text-align: center;
}
footer{
    text-align: center;
    color: azure;
    padding: 10px;
    font-size: 14px;
}
